*{
    margin: 0;
    padding: 0;
}
.container{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(51, 2, 2);
}
.box{
    width: 20rem;
    height: 20rem;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
}
.text{
    color: red;
    font-size: 30px;
}
.screen{
    display: flex;
    margin-top: 20px;
    font-size: 30px;
}
.screen button{
    width: 7rem;
    height: 2rem;
    margin-right: 7px;
    border: none;
}
.btn{
    margin-top:30px;
}
.btn button{
    width: 5rem;
    height: 2rem;
    /* margin-right: 7px; */
}